* @ag-ui-protocol/copilotkit

sdks/community/java @ag-ui-protocol/copilotkit @pascalwilbrink
docs/sdk/java @ag-ui-protocol/copilotkit @pascalwilbrink

sdks/community/kotlin @ag-ui-protocol/copilotkit @contextablemark
docs/sdk/kotlin @ag-ui-protocol/copilotkit @contextablemark

sdks/community/go @ag-ui-protocol/copilotkit @mattsp1290
docs/sdk/go @ag-ui-protocol/copilotkit @mattsp1290

sdks/community/dart @ag-ui-protocol/copilotkit @mattsp1290
docs/sdk/dart @ag-ui-protocol/copilotkit @mattsp1290

integrations/adk-middleware @ag-ui-protocol/copilotkit @contextablemark

integrations/agent-spec @ag-ui-protocol/copilotkit @sonleoracle
