**/.claude/settings.local.json

# Test coverage
coverage/

mastra.db*

**/.DS_Store

test-results/

**/target
.nx/cache
.nx/workspace-data

node_modules
.vscode

**/mastra.db*

.pnpm-store

**/.poetry-cache
